.play-btn-modern {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 128, 0, 0.8);
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.play-btn-modern:hover {
  background: rgba(0, 150, 0, 1);
}
 
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.video-content iframe {
  border-radius: 12px;
  max-width: 90%;
  max-height: 80vh;
}

.item-img1:before {
    content: "";
    height: 100%;
    width: 62%;
    background-color: var(--green);
    position: absolute;
    bottom: 111px;
    left: -77px;
    clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%);
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.about-button .item-btn {
  display: inline-block;
  padding: 7px 30px;
  color: var(--green);
  font-size: 15px;
  font-weight: 500;
  background-color: #eaf7f4;
  border: none;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.about-button .item-btn:hover {
  background-color: var(--green);
  color: #fff;
}
