h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
    margin: 0 0 25px 0;
    color: #212121;

}

.grid-wrap3 {
    padding: 50px 0px 110px;
    background-color: #eaf7f4;
}

.widget.widget-advanced-search {
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 4px 18px 0px rgba(194, 200, 213, 0.3);
    padding: 30px 30px 5px 30px;
}
 
.widget-subtitle {
    color: #212121;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}


/*STYLE DEL LADO DERECHO*/
.item-shorting-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.item-shorting-box .shorting-title .item-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
}

.item-shorting-box .item-shorting-box-2 {
    display: flex;
    align-items: center;
}

.item-shorting-box .item-shorting-box-2 .by-shorting {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.item-shorting-box .item-shorting-box-2 .by-shorting .shorting {
    color: #212121;
    font-weight: 500;
    font-size: 15px;
    margin-right: 5px;
}

.item-shorting-box .item-shorting-box-2 .by-shorting .single-select {
    height: 43px;
    line-height: 43px;
    padding: 0px 57px 0px 20px;
    border: 1px solid #e1e5ee;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
}

.item-shorting-box .item-shorting-box-2 .by-shorting .single-select .current {
    color: #878c9f;
    font-weight: 500;
}

.item-shorting-box .item-shorting-box-2 .by-shorting .single-select .list {
    margin-top: 0px;
    width: 100%;
}

.item-shorting-box .item-shorting-box-2 .grid-button ul li {
    display: inline-block;
}

.item-shorting-box .item-shorting-box-2 .grid-button ul li a {
    color: #b4b4b4;
    font-size: 18px;
    border: 1px solid #e1e5ee;
    height: 43px;
    border-radius: 3px;
    padding: 8px 14px 9px 14px;
    transition: all 0.3s ease-in-out;
}

.tab-style-3 {
    padding: 0;
}

.property-box2 {
    position: relative;
    box-shadow: 0px 4px 18px rgba(194, 200, 213, 0.3);
    border: none;
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 24px;
}

.property-box4 {
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: none;
    background-color: #fff;
    border: 1px solid #e8e8e8;
}

.property-box4 .item-img {
    border-radius: 6px;
}

.property-box2 .item-img {
    position: relative;
    overflow: hidden;
    border-radius: 6px 6px 0px 0px;
    z-index: 5;
    cursor: pointer;
}

.property-box2 .item-img a img {
    border-radius: 6px 6px 0px 0px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    z-index: 5;
}


.property-box2 .item-img img {
  height: 140px;         /* puedes ajustar la altura según tu diseño */
  object-fit: cover;     /* recorta la imagen sin distorsionarla */
  object-position: center; /* centra la parte visible */
  border-radius: 10px;   /* opcional: esquinas redondeadas */
}

.property-box4 .item-img img {
    border-radius: 6px;
}

.property-box4 .item-content-property {
    flex: 1;
    padding: 0;
    margin-left: 24px;
}
.property-box2 .item-content {
    padding: 20px 30px;
    background-color: #ffffff;
}

.property-box4 .item-content-property .item-category10 {
    position: inherit;
    padding: 0;
}

/*.property-box2 .item-category10 {
    position: absolute;
    margin-top: -20px;
    left: 30px;
    font-size: 15px;
    background-color: #ffffff;
    padding: 5px 15px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    line-height: 20px;
    z-index: 5;
}*/

.property-box4 .item-content-property .item-category10 a {
    padding: 0;
    font-size: 14px;
    color: #acafbb;
    background: none;
}


.property-box2 .item-category10 a {
    color: var(--green);
    transition: all 0.3s ease-in-out;
}

.property-box4 .item-content-property .react-icon
 {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    bottom: auto;
}

.property-box2 .react-icon {
    position: absolute;
    right: 30px;
    bottom: 0px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 5;
}

.property-box2 .item-content .verified-area {
    display: flex;
    align-items: center;
}

.property-box2 .item-content .verified-area .item-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 7px;
    line-height: 32px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
}

.property-box2:hover .item-title {
    color: var(--green);
}

.property-box2:hover .item-content {
    background: #ffffff;
}

.property-box2 .item-content .verified-area .item-title a {
    color: #212121;
    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.property-box2 .item-content .location-area {
    color: #929292;
    font-size: 15px;
    margin-bottom: 12px;
}

.property-box2 .item-content .location-area i {
    margin-right: 7px;
    position: relative;
    top: 3px;
}

.property-box4 .item-content-property .item-categoery3 {
    margin-bottom: 20px;
}

.property-box2 .item-content .item-categoery3 ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.property-box2 .item-content .item-categoery3 ul li i {
    color: var(--green);
    margin-right: 10px;
    height: 30px;
    width: 30px;
    background-color: #edf9f6;
    border: none;
    border-radius: 50%;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
}

.property-box2 .item-content .item-categoery3 ul li {
    display: flex;
    margin-right: 10px;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
}


.pagination-style-1 {
    margin-top: 24px;
}

.pagination-style-1 .pagination {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 24px;
}

.pagination-style-1 .pagination .page-item {
    margin-right: 5px;
}

.pagination-style-1 .pagination .page-item .page-link {
    background: white;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: var(--green);
    border: 1px solid #dbdbdb;
    padding: 10px 18px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.pagination-style-1 .pagination .page-item .page-link.active
 {
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    color: #ffffff !important;
}


@media only screen and (max-width: 479px) {
  .property-box4 {
    display: block;
  }
}
.property-box4 .item-img {
  border-radius: 6px;
}
@media only screen and (max-width: 479px) {
  .property-box4 .item-img {
    margin-bottom: 20px;
    text-align: center;
  }
}
.property-box4 .item-img:hover .item-img a img {
  transform: scale(1.05);
}
.property-box4 .item-img img {
  border-radius: 6px;
}
@media only screen and (max-width: 767px) {
  .property-box4 .item-img img {
    width: 200px;
    height: 150px;
  }
}
@media only screen and (max-width: 479px) {
  .property-box4 .item-img img {
    width: 100%;
    height: 100%;
  }
}
.property-box4 .item-img:before {
  display: none;
}
@media only screen and (max-width: 767px) {
  .property-box4 .item-category-box1 {
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
.property-box4 .item-content-property {
  flex: 1;
  padding: 0;
  margin-left: 24px;
}
@media only screen and (max-width: 479px) {
  .property-box4 .item-content-property {
    margin-left: 0;
  }
}
.property-box4 .item-content-property .item-category10 {
  position: inherit;
  padding: 0;
}
.property-box4 .item-content-property .item-category10 a {
  padding: 0;
  font-size: 14px;
  color: #acafbb;
  background: none;
}
.property-box4 .item-content-property .rent-price2 {
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 2;
  justify-content: inherit;
  align-items: inherit;
}
@media only screen and (max-width: 767px) {
  .property-box4 .item-content-property .rent-price2 {
    display: none;
  }
}
.property-box4 .item-content-property .react-icon {
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
  bottom: auto;
}
@media only screen and (max-width: 479px) {
  .property-box4 .item-content-property .react-icon {
    top: 40px;
    right: 40px;
  }
}

@media only screen and (max-width: 575px) {
    .item-shorting-box .shorting-title .item-title {
        margin-bottom: 5px;
    }
    .item-shorting-box {
        display: contents;
    }
}

@media (min-width: 1199px) {
    .row.gutters-40 {
        margin-left: -20px;
        margin-right: -20px;
    }
    .row.gutters-40 > [class^="col-"] {
        padding-left: 20px;
        padding-right: 20px;
    }
}