.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9990; /* debajo del botón X pero encima del contenido */
}


.popup-container {
  width: 90%;
  /*max-width: 420px;*/
  max-width: 550px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  animation: popupFade 0.3s ease;
  background: transparent !important; /* <-- SOLUCIÓN */
}

.popup-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 1;  /* <-- IMPORTANTE: debajo de la X */
  pointer-events: none; /* <-- LA CLAVE: no bloquea clics */
}

.popup-text {
  padding: 15px;
  text-align: center;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999; 
  background: rgba(0,0,0,0.6);
  color: #fff;
  border: none;
  padding: 6px 10px;
  font-size: 22px;
  border-radius: 6px;
  cursor: pointer;
}


.popup-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px 14px;
  cursor: pointer;
  z-index: 9999;
  border-radius: 50%;
}

.popup-arrow.left {
  left: 10px;
}

.popup-arrow.right {
  right: 10px;
}

.popup-arrow:hover {
  background: rgba(0,0,0,0.8);
}



@keyframes popupFade {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}
