.perfil-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

/* HEADER */
.perfil-header {
  background: #fff;
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.btn-login {
  background: #0c5f3d;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
}

/* CONTENT */
.perfil-content {
  flex: 1;
  text-align: center;
  padding: 60px 20px;
}

.perfil-content h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.perfil-content p {
  color: #666;
  margin-bottom: 50px;
  text-align: center;
}

.perfil-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* CARD */
.perfil-card {
  background: #fff;
  width: 260px;
  padding: 30px 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  position: relative;
}

.perfil-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.perfil-card-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background: #0c5f3d;
  border-radius: 8px 8px 0 0;
}

.perfil-icon {
  margin: 30px 0 20px;
  color: #000;
}

.perfil-card h3 {
  margin-bottom: 5px;
}

.perfil-card span {
  color: #555;
}

/* FOOTER */
.perfil-footer {
  padding: 15px;
  text-align: center;
  background: #fff;
}


.metric-icon
 {
    font-size: 34px;
    background: var(--green);
    color: white;
    padding: 5px 15px;
    border-radius: 50%;
}



.step-circle-wrapper {
  position: relative;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #198754;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #198754;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 2;
}

.step-circle.active {
  background: var(--green);
  color: #fff;
}

.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

.progress-ring circle {
  transition: stroke-dashoffset 0.04s linear;
}

.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
