.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*COMPONENTE GOOGLE*/
/* ===== OCULTAR BARRA GOOGLE NUEVA ===== */
iframe.skiptranslate,
.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate,
body > .skiptranslate {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
}

/* Google mueve la web hacia abajo */
body {
  top: 0 !important;
  position: static !important;
}

/* gadget viejo */
.goog-te-gadget {
  font-size: 0 !important;
}

.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}


/*CIERRA COMPONENTE GOOGLE*/


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

